* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'morty';
  src: url('../assets/fuentes/morty.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'bop';
  src: url('../assets/fuentes/BlackOpsOne-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

nav{
  background-image: url(../assets/bgImage);
}
.nav-link{
  font-family: morty;
  color: #97FB9B !important;
  font-size: 3vw !important;
}
#formularioBusqueda{
  background-color: #0a243c;
}
::placeholder {
  color: grey !important;
  font-size: 1em;
}
.cardPersonaje{
  background-color: #3c3a4a !important;
  box-shadow: 5px 5px 25px 5px #6e6f7c !important;
  border-radius: 10px !important;
  width: 18rem !important;
}

.card-body{
  font-family: 'Josefin Sans', sans-serif !important;
}
.cardLink{
  text-align: center;
  outline: none;
  text-decoration: none;
  color: rgb(255, 152, 0);
}
.cardLink:hover{

  
  background: rgb(32, 35, 41);
}
.cardInfo_Status{
  border-radius: 10px !important;
  background-color: #0a243c67;
}
#main{
  background-image: url(../assets/bgImage);
  min-height: 100vh;
}
.cardLocation{

  z-index: 0;
  position: absolute;
  background-size:cover;
  background-image: url("../assets/bg-location.jpg");
  background-position: center
}
.cardEpisode{
  background-color: #0a243c67 !important;
  box-shadow: 5px 5px 25px 5px #6e6f7c !important;

}
.scroll {
  max-height: 200px; /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  filter: opacity(1);
  z-index: 0;
}
.scroll::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.scroll::-webkit-scrollbar-track {
  background: #0a243c  ;        /* color of the tracking area */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid white;  /* creates padding around scroll thumb */

}

.scroll::-webkit-scrollbar-thumb {
  background-color: #1a847c;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid white;  /* creates padding around scroll thumb */
}